@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border-color: #ffd230;
  --color-bg-prim-color: #e2e8f0;
  --color-bg-sec-color: #e7e5e4;
  --color-ft-prim-color: #0f172b;
  --animate-opacity: opacity-in 1s ease-in-out forwards;
  --animate-slow-opacity: slow-opacity-in 3s ease-in-out forwards;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes slow-opacity-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@layer theme {
  .dark {
    --color-bg-prim-color: #0f172b;
    --color-bg-sec-color: #1d293d;
    --color-ft-prim-color: #e2e8f0;
  }
}
