@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bgPrimColor: #ffffff;
  --color-ftPrimColor: #0f0f0f;
}

@layer theme {
  .dark {
    --color-bgPrimColor: #0f0f0f;
    --color-ftPrimColor: #ffffff;
  }
}
